html {
  font-size: 16px; }
  @media screen and (max-width: 600px) {
    html {
      font-size: 19px; } }

body {
  padding: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #242628;
  text-align: center; }

div, article {
  display: block;
  box-sizing: border-box; }

h1, h2, h3, h4, .like-h1, .like-h2, .like-h3, .like-h4 {
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif; }

h1, .like-h1 {
  font-size: 2.5rem; }

h2, .like-h2 {
  font-size: 2rem; }

h3, .like-h3 {
  font-size: 1.6rem; }

h4, .like-h4 {
  font-size: 1.4rem; }

p {
  font-size: 1rem;
  line-height: 1.4em; }
  @media screen and (max-width: 600px) {
    p {
      line-height: 1.2em; } }

em {
  font-style: italic;
  color: #303438; }

strong {
  font-weight: 700; }

a {
  color: #4a90e2;
  -webkit-transition: color 200ms, background-image 200ms;
  transition: color 200ms, background-image 200ms;
  text-decoration: none;
  background-image: -webkit-linear-gradient(top, #fff 75%, #4a90e2 75%);
  background-image: linear-gradient(to bottom, #fff 75%, #4a90e2 75%);
  background-size: 2px 2px;
  background-position: 0 90%;
  background-repeat: repeat-x; }
  a:hover {
    color: #2e77cc;
    background-image: -webkit-linear-gradient(top, #fff 75%, #2e77cc 75%);
    background-image: linear-gradient(to bottom, #fff 75%, #2e77cc 75%);
    background-size: 2px 2px;
    background-position: 0 90%;
    background-repeat: repeat-x; }

.container {
  display: inline-block;
  width: 100%;
  max-width: 1100px;
  text-align: left; }

.grid {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 0; }
  .grid .col {
    width: 100%;
    display: inline-block;
    padding: 0 15px;
    font-size: 1rem;
    vertical-align: top; }
    @media screen and (min-width: 600px) {
      .grid .col.s5 {
        width: 5%; }
      .grid .col.s-offset5 {
        margin-left: 5%; }
      .grid .col.s-tail5 {
        margin-right: 5%; }
      .grid .col.s10 {
        width: 10%; }
      .grid .col.s-offset10 {
        margin-left: 10%; }
      .grid .col.s-tail10 {
        margin-right: 10%; }
      .grid .col.s15 {
        width: 15%; }
      .grid .col.s-offset15 {
        margin-left: 15%; }
      .grid .col.s-tail15 {
        margin-right: 15%; }
      .grid .col.s20 {
        width: 20%; }
      .grid .col.s-offset20 {
        margin-left: 20%; }
      .grid .col.s-tail20 {
        margin-right: 20%; }
      .grid .col.s25 {
        width: 25%; }
      .grid .col.s-offset25 {
        margin-left: 25%; }
      .grid .col.s-tail25 {
        margin-right: 25%; }
      .grid .col.s30 {
        width: 30%; }
      .grid .col.s-offset30 {
        margin-left: 30%; }
      .grid .col.s-tail30 {
        margin-right: 30%; }
      .grid .col.s33 {
        width: 33.3333%; }
      .grid .col.s-offset33 {
        margin-left: 33.3333%; }
      .grid .col.s-tail33 {
        margin-right: 33.3333%; }
      .grid .col.s35 {
        width: 35%; }
      .grid .col.s-offset35 {
        margin-left: 35%; }
      .grid .col.s-tail35 {
        margin-right: 35%; }
      .grid .col.s40 {
        width: 40%; }
      .grid .col.s-offset40 {
        margin-left: 40%; }
      .grid .col.s-tail40 {
        margin-right: 40%; }
      .grid .col.s45 {
        width: 45%; }
      .grid .col.s-offset45 {
        margin-left: 45%; }
      .grid .col.s-tail45 {
        margin-right: 45%; }
      .grid .col.s50 {
        width: 50%; }
      .grid .col.s-offset50 {
        margin-left: 50%; }
      .grid .col.s-tail50 {
        margin-right: 50%; }
      .grid .col.s55 {
        width: 55%; }
      .grid .col.s-offset55 {
        margin-left: 55%; }
      .grid .col.s-tail55 {
        margin-right: 55%; }
      .grid .col.s60 {
        width: 60%; }
      .grid .col.s-offset60 {
        margin-left: 60%; }
      .grid .col.s-tail60 {
        margin-right: 60%; }
      .grid .col.s65 {
        width: 65%; }
      .grid .col.s-offset65 {
        margin-left: 65%; }
      .grid .col.s-tail65 {
        margin-right: 65%; }
      .grid .col.s66 {
        width: 66.6666%; }
      .grid .col.s-offset66 {
        margin-left: 66.6666%; }
      .grid .col.s-tail66 {
        margin-right: 66.6666%; }
      .grid .col.s70 {
        width: 70%; }
      .grid .col.s-offset70 {
        margin-left: 70%; }
      .grid .col.s-tail70 {
        margin-right: 70%; }
      .grid .col.s75 {
        width: 75%; }
      .grid .col.s-offset75 {
        margin-left: 75%; }
      .grid .col.s-tail75 {
        margin-right: 75%; }
      .grid .col.s80 {
        width: 80%; }
      .grid .col.s-offset80 {
        margin-left: 80%; }
      .grid .col.s-tail80 {
        margin-right: 80%; }
      .grid .col.s85 {
        width: 85%; }
      .grid .col.s-offset85 {
        margin-left: 85%; }
      .grid .col.s-tail85 {
        margin-right: 85%; }
      .grid .col.s90 {
        width: 90%; }
      .grid .col.s-offset90 {
        margin-left: 90%; }
      .grid .col.s-tail90 {
        margin-right: 90%; }
      .grid .col.s95 {
        width: 95%; }
      .grid .col.s-offset95 {
        margin-left: 95%; }
      .grid .col.s-tail95 {
        margin-right: 95%; }
      .grid .col.s100 {
        width: 100%; }
      .grid .col.s-offset100 {
        margin-left: 100%; }
      .grid .col.s-tail100 {
        margin-right: 100%; } }
    @media screen and (min-width: 900px) {
      .grid .col.m5 {
        width: 5%; }
      .grid .col.m-offset5 {
        margin-left: 5%; }
      .grid .col.m-tail5 {
        margin-right: 5%; }
      .grid .col.m10 {
        width: 10%; }
      .grid .col.m-offset10 {
        margin-left: 10%; }
      .grid .col.m-tail10 {
        margin-right: 10%; }
      .grid .col.m15 {
        width: 15%; }
      .grid .col.m-offset15 {
        margin-left: 15%; }
      .grid .col.m-tail15 {
        margin-right: 15%; }
      .grid .col.m20 {
        width: 20%; }
      .grid .col.m-offset20 {
        margin-left: 20%; }
      .grid .col.m-tail20 {
        margin-right: 20%; }
      .grid .col.m25 {
        width: 25%; }
      .grid .col.m-offset25 {
        margin-left: 25%; }
      .grid .col.m-tail25 {
        margin-right: 25%; }
      .grid .col.m30 {
        width: 30%; }
      .grid .col.m-offset30 {
        margin-left: 30%; }
      .grid .col.m-tail30 {
        margin-right: 30%; }
      .grid .col.m33 {
        width: 33.3333%; }
      .grid .col.m-offset33 {
        margin-left: 33.3333%; }
      .grid .col.m-tail33 {
        margin-right: 33.3333%; }
      .grid .col.m35 {
        width: 35%; }
      .grid .col.m-offset35 {
        margin-left: 35%; }
      .grid .col.m-tail35 {
        margin-right: 35%; }
      .grid .col.m40 {
        width: 40%; }
      .grid .col.m-offset40 {
        margin-left: 40%; }
      .grid .col.m-tail40 {
        margin-right: 40%; }
      .grid .col.m45 {
        width: 45%; }
      .grid .col.m-offset45 {
        margin-left: 45%; }
      .grid .col.m-tail45 {
        margin-right: 45%; }
      .grid .col.m50 {
        width: 50%; }
      .grid .col.m-offset50 {
        margin-left: 50%; }
      .grid .col.m-tail50 {
        margin-right: 50%; }
      .grid .col.m55 {
        width: 55%; }
      .grid .col.m-offset55 {
        margin-left: 55%; }
      .grid .col.m-tail55 {
        margin-right: 55%; }
      .grid .col.m60 {
        width: 60%; }
      .grid .col.m-offset60 {
        margin-left: 60%; }
      .grid .col.m-tail60 {
        margin-right: 60%; }
      .grid .col.m65 {
        width: 65%; }
      .grid .col.m-offset65 {
        margin-left: 65%; }
      .grid .col.m-tail65 {
        margin-right: 65%; }
      .grid .col.m66 {
        width: 66.6666%; }
      .grid .col.m-offset66 {
        margin-left: 66.6666%; }
      .grid .col.m-tail66 {
        margin-right: 66.6666%; }
      .grid .col.m70 {
        width: 70%; }
      .grid .col.m-offset70 {
        margin-left: 70%; }
      .grid .col.m-tail70 {
        margin-right: 70%; }
      .grid .col.m75 {
        width: 75%; }
      .grid .col.m-offset75 {
        margin-left: 75%; }
      .grid .col.m-tail75 {
        margin-right: 75%; }
      .grid .col.m80 {
        width: 80%; }
      .grid .col.m-offset80 {
        margin-left: 80%; }
      .grid .col.m-tail80 {
        margin-right: 80%; }
      .grid .col.m85 {
        width: 85%; }
      .grid .col.m-offset85 {
        margin-left: 85%; }
      .grid .col.m-tail85 {
        margin-right: 85%; }
      .grid .col.m90 {
        width: 90%; }
      .grid .col.m-offset90 {
        margin-left: 90%; }
      .grid .col.m-tail90 {
        margin-right: 90%; }
      .grid .col.m95 {
        width: 95%; }
      .grid .col.m-offset95 {
        margin-left: 95%; }
      .grid .col.m-tail95 {
        margin-right: 95%; }
      .grid .col.m100 {
        width: 100%; }
      .grid .col.m-offset100 {
        margin-left: 100%; }
      .grid .col.m-tail100 {
        margin-right: 100%; } }
    @media screen and (min-width: 1100px) {
      .grid .col.l5 {
        width: 5%; }
      .grid .col.l-offset5 {
        margin-left: 5%; }
      .grid .col.l-tail5 {
        margin-right: 5%; }
      .grid .col.l10 {
        width: 10%; }
      .grid .col.l-offset10 {
        margin-left: 10%; }
      .grid .col.l-tail10 {
        margin-right: 10%; }
      .grid .col.l15 {
        width: 15%; }
      .grid .col.l-offset15 {
        margin-left: 15%; }
      .grid .col.l-tail15 {
        margin-right: 15%; }
      .grid .col.l20 {
        width: 20%; }
      .grid .col.l-offset20 {
        margin-left: 20%; }
      .grid .col.l-tail20 {
        margin-right: 20%; }
      .grid .col.l25 {
        width: 25%; }
      .grid .col.l-offset25 {
        margin-left: 25%; }
      .grid .col.l-tail25 {
        margin-right: 25%; }
      .grid .col.l30 {
        width: 30%; }
      .grid .col.l-offset30 {
        margin-left: 30%; }
      .grid .col.l-tail30 {
        margin-right: 30%; }
      .grid .col.l33 {
        width: 33.3333%; }
      .grid .col.l-offset33 {
        margin-left: 33.3333%; }
      .grid .col.l-tail33 {
        margin-right: 33.3333%; }
      .grid .col.l35 {
        width: 35%; }
      .grid .col.l-offset35 {
        margin-left: 35%; }
      .grid .col.l-tail35 {
        margin-right: 35%; }
      .grid .col.l40 {
        width: 40%; }
      .grid .col.l-offset40 {
        margin-left: 40%; }
      .grid .col.l-tail40 {
        margin-right: 40%; }
      .grid .col.l45 {
        width: 45%; }
      .grid .col.l-offset45 {
        margin-left: 45%; }
      .grid .col.l-tail45 {
        margin-right: 45%; }
      .grid .col.l50 {
        width: 50%; }
      .grid .col.l-offset50 {
        margin-left: 50%; }
      .grid .col.l-tail50 {
        margin-right: 50%; }
      .grid .col.l55 {
        width: 55%; }
      .grid .col.l-offset55 {
        margin-left: 55%; }
      .grid .col.l-tail55 {
        margin-right: 55%; }
      .grid .col.l60 {
        width: 60%; }
      .grid .col.l-offset60 {
        margin-left: 60%; }
      .grid .col.l-tail60 {
        margin-right: 60%; }
      .grid .col.l65 {
        width: 65%; }
      .grid .col.l-offset65 {
        margin-left: 65%; }
      .grid .col.l-tail65 {
        margin-right: 65%; }
      .grid .col.l66 {
        width: 66.6666%; }
      .grid .col.l-offset66 {
        margin-left: 66.6666%; }
      .grid .col.l-tail66 {
        margin-right: 66.6666%; }
      .grid .col.l70 {
        width: 70%; }
      .grid .col.l-offset70 {
        margin-left: 70%; }
      .grid .col.l-tail70 {
        margin-right: 70%; }
      .grid .col.l75 {
        width: 75%; }
      .grid .col.l-offset75 {
        margin-left: 75%; }
      .grid .col.l-tail75 {
        margin-right: 75%; }
      .grid .col.l80 {
        width: 80%; }
      .grid .col.l-offset80 {
        margin-left: 80%; }
      .grid .col.l-tail80 {
        margin-right: 80%; }
      .grid .col.l85 {
        width: 85%; }
      .grid .col.l-offset85 {
        margin-left: 85%; }
      .grid .col.l-tail85 {
        margin-right: 85%; }
      .grid .col.l90 {
        width: 90%; }
      .grid .col.l-offset90 {
        margin-left: 90%; }
      .grid .col.l-tail90 {
        margin-right: 90%; }
      .grid .col.l95 {
        width: 95%; }
      .grid .col.l-offset95 {
        margin-left: 95%; }
      .grid .col.l-tail95 {
        margin-right: 95%; }
      .grid .col.l100 {
        width: 100%; }
      .grid .col.l-offset100 {
        margin-left: 100%; }
      .grid .col.l-tail100 {
        margin-right: 100%; } }
    .grid .col.-cling {
      padding: 0; }
  .grid .row {
    display: block;
    width: 100%;
    font-size: 0; }

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  box-sizing: border-box;
  -webkit-transition: border 200ms;
  transition: border 200ms; }

input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, textarea:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #999; }

.label {
  display: block;
  width: 100%;
  box-sizing: border-box; }

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  line-height: 3em;
  height: 3em;
  padding: 0 7.5px; }

textarea {
  resize: vertical;
  padding: .7em;
  line-height: 1.4em;
  min-height: 15.4em; }

.label.-checkbox {
  position: relative;
  padding: 15px; }
  .label.-checkbox > ._title::before {
    content: 'UNCHECKED'; }
  .label.-checkbox input[type="checkbox"] {
    left: 0;
    position: absolute; }
    .label.-checkbox input[type="checkbox"]:checked + ._title::before {
      content: 'CHECKED'; }
