@charset "UTF-8";
/*
** ====================================================
**
**  RRRRR    II   GGGGG
**  RR  RR   II  GG   GG
**  RRRRR    II  GG
**  RR RR    II  GG  GGG
**  RR  RR   II  GG   GG
**  RR   RR  II   GGGGG
**
** ==================================================== *
**
** Author: Codeship
**
*/
/*
 * BREAKPOINTS | prefixed with bp
 * This Classes actually affect the Grid System as corresponding classes only work in correct spaces
 */
/*
** ====================================================
** MIXINS.SCSS
**
** Features some basic helper functions that can be used
** thoughout other CSS Files.
** ====================================================
*/
/*
** ====================================================
** GLOBAL.SCSS
**
** Basic Definitions for HTML Elements throught the Framework
** ====================================================
*/
/*
 * ------------------------------------------------------------------------------ *
 * GENERAL
 * ------------------------------------------------------------------------------ *
 */
html, body {
  padding: 0;
  margin: 0; }

html {
  height: 100%;
  min-height: 100%;
  padding: 0 !important; }

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  text-stroke: 0px;
  -moz-text-stroke: 0px;
  -webkit-text-stroke: 0px;
  letter-spacing: .1em;
  text-align: center;
  height: 100%;
  min-height: 100%;
  color: #7B889A;
  background: #FFF; }

div,
header,
section,
nav,
article,
aside,
figure,
figcaption,
ul,
ol {
  display: block;
  box-sizing: border-box; }

::selection {
  text-shadow: none;
  background: #5A95E5;
  color: #FFF; }

/*
 * ------------------------------------------------------------------------------ *
 * Typography
 * ------------------------------------------------------------------------------ *
 */
h1, h2, h3, h4, h5, h6 {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-weight: 900;
  margin: 1.4em 0 .5em 0;
  color: #101b28;
  letter-spacing: -.01em;
  line-height: 1.2em; }

h1, .like-h1 {
  font-size: 3rem; }

h2, .like-h2 {
  font-size: 2.5rem; }

h3, .like-h3 {
  font-size: 2rem; }

h4, .like-h4 {
  font-size: 1.6rem; }

h5, .like-h5 {
  font-size: 1.4rem; }

h6, .like-h6 {
  font-size: 1.1rem; }

.is-italic {
  font-style: italic; }

.is-bold {
  font-weight: 700; }

.is-uppercase {
  text-transform: uppercase; }

.is-capitalize {
  text-transform: capitalize; }

.ta-center {
  text-align: center; }

.ta-left {
  text-align: left; }

.ta-right {
  text-align: right; }

.ta-jsutify {
  text-align: justify; }

a {
  color: #5A95E5;
  cursor: pointer;
  transition: color 100ms, background-image 100ms;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.42em;
  letter-spacing: -.004em; }
  a:hover {
    color: #377edf; }
  strong a,
  b a,
  a.is-bold {
    letter-spacing: -.001em; }

.link, p a {
  background-repeat: repeat-x;
  background-size: .1rem .1rem;
  background-position: 0 100%;
  background-image: linear-gradient(to bottom, transparent 50%, #5A95E5 50%); }
  .link:hover, p a:hover {
    background-repeat: repeat-x;
    background-size: .1rem .1rem;
    background-position: 0 100%;
    background-image: linear-gradient(to bottom, transparent 50%, #377edf 50%); }

p {
  margin: .8em 0;
  font-size: 16px;
  line-height: 1.42em;
  letter-spacing: -.004em;
  color: #7B889A; }
  p a {
    margin: 0 .1em; }
  p.is-bold {
    letter-spacing: .001em; }

strong, b {
  font-weight: 700;
  color: #101b27; }

em, i {
  font-style: italic; }

small {
  font-size: .7em; }

/*
 * ------------------------------------------------------------------------------ *
 * LISTS
 * ------------------------------------------------------------------------------ *
 */
ul, ol {
  padding: 0;
  list-style: none;
  vertical-align: top; }
  ul li, ol li {
    padding: .2em;
    padding-left: 1.5rem;
    font-size: 16px;
    line-height: 1.42em;
    letter-spacing: -.004em; }

.ul li::before {
  content: "▸";
  line-height: 1.42em;
  display: inline-block;
  font-size: .8em;
  color: #101b27;
  position: absolute;
  transform: translate(-1.5rem, 0.2rem); }

.ul--check li::before {
  content: "✓"; }

.ul__title {
  padding: 0.8em;
  padding-left: 15px;
  font-weight: 700;
  display: block; }
  .ul__title:before {
    content: none !important;
    width: 0 !important; }

.ol {
  counter-reset: list-counter; }
  .ol li::before {
    position: relative;
    display: inline-block;
    counter-increment: list-counter;
    content: counter(list-counter);
    width: 1em;
    transform: translateX(-100%);
    opacity: .3; }

/*
 * ------------------------------------------------------------------------------ *
 * CLEARFIX
 * ------------------------------------------------------------------------------ *
 */
.clr {
  zoom: 1; }

.clr:before,
.clr:after {
  content: "";
  display: table; }

.clr:after {
  clear: both; }

/*
 * ------------------------------------------------------------------------------ *
 * INPUT FIX
 * ------------------------------------------------------------------------------ *
 */
input:focus, button:focus, textarea:focus, select:focus {
  outline: none;
  box-shadow: none; }

/*
** ====================================================
** GRID
**
** A easy yet flexible grid system aiming for a % based column system
** ====================================================
**/
.grid {
  display: block;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 0; }
  @media only screen and (max-width: 45rem) {
    .grid {
      padding: 0;
      margin: 0; } }

.row {
  display: block;
  width: 100%;
  font-size: 0; }

.col {
  font-size: 16px;
  display: inline-block;
  padding: 0 10px;
  vertical-align: top;
  position: relative;
  width: 100%; }

/*
 * ------------------------------------------------------------------------------ *
 * The Grid Col Classes
 * ------------------------------------------------------------------------------ *
 */
@media only screen and (min-width: 60rem) {
  .lg5 {
    width: 5%; }

  .lg--offset5 {
    margin-left: 5%; }

  .lg--tail5 {
    margin-right: 5%; }

  .lg10 {
    width: 10%; }

  .lg--offset10 {
    margin-left: 10%; }

  .lg--tail10 {
    margin-right: 10%; }

  .lg15 {
    width: 15%; }

  .lg--offset15 {
    margin-left: 15%; }

  .lg--tail15 {
    margin-right: 15%; }

  .lg20 {
    width: 20%; }

  .lg--offset20 {
    margin-left: 20%; }

  .lg--tail20 {
    margin-right: 20%; }

  .lg25 {
    width: 25%; }

  .lg--offset25 {
    margin-left: 25%; }

  .lg--tail25 {
    margin-right: 25%; }

  .lg30 {
    width: 30%; }

  .lg--offset30 {
    margin-left: 30%; }

  .lg--tail30 {
    margin-right: 30%; }

  .lg33 {
    width: 33.3333%; }

  .lg--offset33 {
    margin-left: 33.3333%; }

  .lg--tail33 {
    margin-right: 33.3333%; }

  .lg35 {
    width: 35%; }

  .lg--offset35 {
    margin-left: 35%; }

  .lg--tail35 {
    margin-right: 35%; }

  .lg40 {
    width: 40%; }

  .lg--offset40 {
    margin-left: 40%; }

  .lg--tail40 {
    margin-right: 40%; }

  .lg45 {
    width: 45%; }

  .lg--offset45 {
    margin-left: 45%; }

  .lg--tail45 {
    margin-right: 45%; }

  .lg50 {
    width: 50%; }

  .lg--offset50 {
    margin-left: 50%; }

  .lg--tail50 {
    margin-right: 50%; }

  .lg55 {
    width: 55%; }

  .lg--offset55 {
    margin-left: 55%; }

  .lg--tail55 {
    margin-right: 55%; }

  .lg60 {
    width: 60%; }

  .lg--offset60 {
    margin-left: 60%; }

  .lg--tail60 {
    margin-right: 60%; }

  .lg65 {
    width: 65%; }

  .lg--offset65 {
    margin-left: 65%; }

  .lg--tail65 {
    margin-right: 65%; }

  .lg66 {
    width: 66.6666%; }

  .lg--offset66 {
    margin-left: 66.6666%; }

  .lg--tail66 {
    margin-right: 66.6666%; }

  .lg70 {
    width: 70%; }

  .lg--offset70 {
    margin-left: 70%; }

  .lg--tail70 {
    margin-right: 70%; }

  .lg75 {
    width: 75%; }

  .lg--offset75 {
    margin-left: 75%; }

  .lg--tail75 {
    margin-right: 75%; }

  .lg80 {
    width: 80%; }

  .lg--offset80 {
    margin-left: 80%; }

  .lg--tail80 {
    margin-right: 80%; }

  .lg85 {
    width: 85%; }

  .lg--offset85 {
    margin-left: 85%; }

  .lg--tail85 {
    margin-right: 85%; }

  .lg90 {
    width: 90%; }

  .lg--offset90 {
    margin-left: 90%; }

  .lg--tail90 {
    margin-right: 90%; }

  .lg95 {
    width: 95%; }

  .lg--offset95 {
    margin-left: 95%; }

  .lg--tail95 {
    margin-right: 95%; }

  .lg100 {
    width: 100%; } }
@media only screen and (min-width: 45rem) and (max-width: 60rem) {
  .md5 {
    width: 5%; }

  .md--offset5 {
    margin-left: 5%; }

  .md--tail5 {
    margin-right: 5%; }

  .md10 {
    width: 10%; }

  .md--offset10 {
    margin-left: 10%; }

  .md--tail10 {
    margin-right: 10%; }

  .md15 {
    width: 15%; }

  .md--offset15 {
    margin-left: 15%; }

  .md--tail15 {
    margin-right: 15%; }

  .md20 {
    width: 20%; }

  .md--offset20 {
    margin-left: 20%; }

  .md--tail20 {
    margin-right: 20%; }

  .md25 {
    width: 25%; }

  .md--offset25 {
    margin-left: 25%; }

  .md--tail25 {
    margin-right: 25%; }

  .md30 {
    width: 30%; }

  .md--offset30 {
    margin-left: 30%; }

  .md--tail30 {
    margin-right: 30%; }

  .md33 {
    width: 33.3333%; }

  .md--offset33 {
    margin-left: 33.3333%; }

  .md--tail33 {
    margin-right: 33.3333%; }

  .md35 {
    width: 35%; }

  .md--offset35 {
    margin-left: 35%; }

  .md--tail35 {
    margin-right: 35%; }

  .md40 {
    width: 40%; }

  .md--offset40 {
    margin-left: 40%; }

  .md--tail40 {
    margin-right: 40%; }

  .md45 {
    width: 45%; }

  .md--offset45 {
    margin-left: 45%; }

  .md--tail45 {
    margin-right: 45%; }

  .md50 {
    width: 50%; }

  .md--offset50 {
    margin-left: 50%; }

  .md--tail50 {
    margin-right: 50%; }

  .md55 {
    width: 55%; }

  .md--offset55 {
    margin-left: 55%; }

  .md--tail55 {
    margin-right: 55%; }

  .md60 {
    width: 60%; }

  .md--offset60 {
    margin-left: 60%; }

  .md--tail60 {
    margin-right: 60%; }

  .md65 {
    width: 65%; }

  .md--offset65 {
    margin-left: 65%; }

  .md--tail65 {
    margin-right: 65%; }

  .md66 {
    width: 66.6666%; }

  .md--offset66 {
    margin-left: 66.6666%; }

  .md--tail66 {
    margin-right: 66.6666%; }

  .md70 {
    width: 70%; }

  .md--offset70 {
    margin-left: 70%; }

  .md--tail70 {
    margin-right: 70%; }

  .md75 {
    width: 75%; }

  .md--offset75 {
    margin-left: 75%; }

  .md--tail75 {
    margin-right: 75%; }

  .md80 {
    width: 80%; }

  .md--offset80 {
    margin-left: 80%; }

  .md--tail80 {
    margin-right: 80%; }

  .md85 {
    width: 85%; }

  .md--offset85 {
    margin-left: 85%; }

  .md--tail85 {
    margin-right: 85%; }

  .md90 {
    width: 90%; }

  .md--offset90 {
    margin-left: 90%; }

  .md--tail90 {
    margin-right: 90%; }

  .md95 {
    width: 95%; }

  .md--offset95 {
    margin-left: 95%; }

  .md--tail95 {
    margin-right: 95%; }

  .md100 {
    width: 100%; } }
@media only screen and (min-width: 30rem) and (max-width: 45rem) {
  .sm5 {
    width: 5%; }

  .sm--offset5 {
    margin-left: 5%; }

  .sm--tail5 {
    margin-right: 5%; }

  .sm10 {
    width: 10%; }

  .sm--offset10 {
    margin-left: 10%; }

  .sm--tail10 {
    margin-right: 10%; }

  .sm15 {
    width: 15%; }

  .sm--offset15 {
    margin-left: 15%; }

  .sm--tail15 {
    margin-right: 15%; }

  .sm20 {
    width: 20%; }

  .sm--offset20 {
    margin-left: 20%; }

  .sm--tail20 {
    margin-right: 20%; }

  .sm25 {
    width: 25%; }

  .sm--offset25 {
    margin-left: 25%; }

  .sm--tail25 {
    margin-right: 25%; }

  .sm30 {
    width: 30%; }

  .sm--offset30 {
    margin-left: 30%; }

  .sm--tail30 {
    margin-right: 30%; }

  .sm33 {
    width: 33.3333%; }

  .sm--offset33 {
    margin-left: 33.3333%; }

  .sm--tail33 {
    margin-right: 33.3333%; }

  .sm35 {
    width: 35%; }

  .sm--offset35 {
    margin-left: 35%; }

  .sm--tail35 {
    margin-right: 35%; }

  .sm40 {
    width: 40%; }

  .sm--offset40 {
    margin-left: 40%; }

  .sm--tail40 {
    margin-right: 40%; }

  .sm45 {
    width: 45%; }

  .sm--offset45 {
    margin-left: 45%; }

  .sm--tail45 {
    margin-right: 45%; }

  .sm50 {
    width: 50%; }

  .sm--offset50 {
    margin-left: 50%; }

  .sm--tail50 {
    margin-right: 50%; }

  .sm55 {
    width: 55%; }

  .sm--offset55 {
    margin-left: 55%; }

  .sm--tail55 {
    margin-right: 55%; }

  .sm60 {
    width: 60%; }

  .sm--offset60 {
    margin-left: 60%; }

  .sm--tail60 {
    margin-right: 60%; }

  .sm65 {
    width: 65%; }

  .sm--offset65 {
    margin-left: 65%; }

  .sm--tail65 {
    margin-right: 65%; }

  .sm66 {
    width: 66.6666%; }

  .sm--offset66 {
    margin-left: 66.6666%; }

  .sm--tail66 {
    margin-right: 66.6666%; }

  .sm70 {
    width: 70%; }

  .sm--offset70 {
    margin-left: 70%; }

  .sm--tail70 {
    margin-right: 70%; }

  .sm75 {
    width: 75%; }

  .sm--offset75 {
    margin-left: 75%; }

  .sm--tail75 {
    margin-right: 75%; }

  .sm80 {
    width: 80%; }

  .sm--offset80 {
    margin-left: 80%; }

  .sm--tail80 {
    margin-right: 80%; }

  .sm85 {
    width: 85%; }

  .sm--offset85 {
    margin-left: 85%; }

  .sm--tail85 {
    margin-right: 85%; }

  .sm90 {
    width: 90%; }

  .sm--offset90 {
    margin-left: 90%; }

  .sm--tail90 {
    margin-right: 90%; }

  .sm95 {
    width: 95%; }

  .sm--offset95 {
    margin-left: 95%; }

  .sm--tail95 {
    margin-right: 95%; }

  .sm100 {
    width: 100%; } }
@media only screen and (max-width: 30rem) {
  .xs5 {
    width: 5%; }

  .xs--offset5 {
    margin-left: 5%; }

  .xs--tail5 {
    margin-right: 5%; }

  .xs10 {
    width: 10%; }

  .xs--offset10 {
    margin-left: 10%; }

  .xs--tail10 {
    margin-right: 10%; }

  .xs15 {
    width: 15%; }

  .xs--offset15 {
    margin-left: 15%; }

  .xs--tail15 {
    margin-right: 15%; }

  .xs20 {
    width: 20%; }

  .xs--offset20 {
    margin-left: 20%; }

  .xs--tail20 {
    margin-right: 20%; }

  .xs25 {
    width: 25%; }

  .xs--offset25 {
    margin-left: 25%; }

  .xs--tail25 {
    margin-right: 25%; }

  .xs30 {
    width: 30%; }

  .xs--offset30 {
    margin-left: 30%; }

  .xs--tail30 {
    margin-right: 30%; }

  .xs33 {
    width: 33.3333%; }

  .xs--offset33 {
    margin-left: 33.3333%; }

  .xs--tail33 {
    margin-right: 33.3333%; }

  .xs35 {
    width: 35%; }

  .xs--offset35 {
    margin-left: 35%; }

  .xs--tail35 {
    margin-right: 35%; }

  .xs40 {
    width: 40%; }

  .xs--offset40 {
    margin-left: 40%; }

  .xs--tail40 {
    margin-right: 40%; }

  .xs45 {
    width: 45%; }

  .xs--offset45 {
    margin-left: 45%; }

  .xs--tail45 {
    margin-right: 45%; }

  .xs50 {
    width: 50%; }

  .xs--offset50 {
    margin-left: 50%; }

  .xs--tail50 {
    margin-right: 50%; }

  .xs55 {
    width: 55%; }

  .xs--offset55 {
    margin-left: 55%; }

  .xs--tail55 {
    margin-right: 55%; }

  .xs60 {
    width: 60%; }

  .xs--offset60 {
    margin-left: 60%; }

  .xs--tail60 {
    margin-right: 60%; }

  .xs65 {
    width: 65%; }

  .xs--offset65 {
    margin-left: 65%; }

  .xs--tail65 {
    margin-right: 65%; }

  .xs66 {
    width: 66.6666%; }

  .xs--offset66 {
    margin-left: 66.6666%; }

  .xs--tail66 {
    margin-right: 66.6666%; }

  .xs70 {
    width: 70%; }

  .xs--offset70 {
    margin-left: 70%; }

  .xs--tail70 {
    margin-right: 70%; }

  .xs75 {
    width: 75%; }

  .xs--offset75 {
    margin-left: 75%; }

  .xs--tail75 {
    margin-right: 75%; }

  .xs80 {
    width: 80%; }

  .xs--offset80 {
    margin-left: 80%; }

  .xs--tail80 {
    margin-right: 80%; }

  .xs85 {
    width: 85%; }

  .xs--offset85 {
    margin-left: 85%; }

  .xs--tail85 {
    margin-right: 85%; }

  .xs90 {
    width: 90%; }

  .xs--offset90 {
    margin-left: 90%; }

  .xs--tail90 {
    margin-right: 90%; }

  .xs95 {
    width: 95%; }

  .xs--offset95 {
    margin-left: 95%; }

  .xs--tail95 {
    margin-right: 95%; }

  .xs100 {
    width: 100%; } }
/*
 * ------------------------------------------------------------------------------ *
 * Helper Classes
 * ------------------------------------------------------------------------------ *
 */
.grid--verticalize {
  height: 100%;
  display: table;
  table-layout: fixed;
  padding: 0; }
  .grid--verticalize > .col {
    vertical-align: middle;
    display: table-cell; }

.col--cling,
.grid--cling {
  padding: 0; }
