#{$all-text-inputs},
textarea,
select {
  display: block;
  width: 100%;
  font-size: 1rem;
  border: 1px solid color('input', 'border');
  border-radius: $base-border-radius;
  margin-bottom: $base-padding;
  box-sizing: border-box;
  transition: border 200ms;
}

#{$all-text-inputs-focus},
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid color('input', 'borderHover');
}

.label {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

@import 'inputs';
@import 'textarea';
@import 'checkbox';
@import 'select';

