[data-ui-component="dropdown"] {
  position: relative;
}

[data-dropdown-element="dropdown"] {
  padding-left: $base-padding/2;
  pointer-events: none;
  transition: all 250ms cubic-bezier(.68,.53,.87,1);
  transform: scale3d(1,0,1);
  transform-origin: 50% 0;
  height: auto;
  z-index: z-index('dropdown');
  text-align: left;

  a {
    padding-left: $base-padding;
    padding-right: $base-padding;
  }
}

[data-dropdown-element="toggle"] {
  position: relative;

  &::after {
    content: "+";
    position: absolute;
    right: 0;
  }

  ~ [data-dropdown-element="dropdown"] {
    max-height: 0;
  }

  &.is-open {

    &::after {
      content: "-";
    }

    ~ [data-dropdown-element="dropdown"] {
      pointer-events: auto;
      transform: scale3d(1,1,1);
      max-height: 50vh;
    }

  }
}

// Make the Dropdown work on horizontal menu

@include larger-than('medium-screen') {

  [data-rig-ui-menu="horizontal"] {

    [data-dropdown-element="toggle"] {
      &::after {
        content: none;
      }
    }

    [data-dropdown-element="dropdown"] {
      position: absolute;
      left: 50%;
      top: 100%;
      transition: transform 300ms cubic-bezier(0.34, 1.61, 0.7, 1), opacity 300ms;
      transform: translate(-50%, 10px) scale3d(0,0,0);
      background: color('body','bg');
      border-radius: $base-border-radius;
      border: 1px solid color('menu', 'border');
      opacity: 0;


      &::before,
      &::after {
        content: " ";
        position: absolute;
        left: 50%;
        top: 0;
        border: 10px solid transparent;
        border-bottom-color: color('menu', 'border');
        transform: translate(-50%,-100%);
      }

      &::after {
        top: 1px;
        border-bottom-color: color('body', 'bg');
      }
    }

    [data-dropdown-element="toggle"].is-open {
      ~ [data-dropdown-element="dropdown"] {
        opacity: 1;
        transform: translate(-50%, 10px) scale3d(1,1,1);
      }
    }
  }

}
