
// If the menu is not a horizontal one,
// add paddings to the container
// This is not output correctly, but worked before :(

.menu:not([data-rig-ui-menu="horizontal"]) {

  @include larger-than('medium-screen') {
    &.-left ~ .container {
      padding-left: $e-menu;
    }

    &.-right ~ .container {
      padding-right: $e-menu;
    }
  }

  @include larger-than('large-screen', 300px) {
    &.-left ~ .container {
      padding-left: $e-menu/2;
    }

    &.-right ~ .container {
      padding-right: $e-menu/2;
    }
  }

  @include larger-than('large-screen', 400px) {
    &.-left ~ .container {
      padding-left: $e-menu/3;
    }

    &.-right ~ .container {
      padding-right: $e-menu/3;
    }
  }

  @include larger-than('large-screen', 600px) {
    &.-left ~ .container {
      padding-left: 0;
    }

    &.-right ~ .container {
      padding-right: 0;
    }
  }

}

// Add Horizontal Menu when screen has reached the bigger size
@include larger-than('medium-screen') {

  .menu[data-rig-ui-menu="horizontal"] {
    display: block;
    position: inherit;
    max-width: 100%;
    border: 0;
    border-bottom: 1px solid color('menu', 'border');
    height: auto;
    overflow: visible;

    .nav {
      display: flex;
      justify-content: space-between;

      ._block {
        display: flex;
        flex-direction: column;
        flex-grow: 1; // Let the Box fill out the rest
        // Align Everything centered on x and y axis
        align-items: center;
        justify-content: center;
        text-align: center;

        &.-left {
          border-right: 1px solid color('menu', 'border');
          flex-grow: 0;
          margin-left: 0;
        }

        &.-right {
          border-left: 1px solid color('menu', 'border');
          flex-grow: 0;
          margin-right: 0;
        }

      }

      ul._block {
        flex-flow: row wrap;
        justify-content: flex-start;
      }

    }
  }

}
