/*
** ====================================================
** GRID
**
** A easy yet flexible grid system aiming for a % based column system
** ====================================================
**/

// Basic Class that prepares the content for being wrapped in cols
.grid {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 0;
}

// Sometimes you want to wrap cols in rows. Take this...
.row {
  display: block;
  width: 100%;
  font-size: 0; // This helps if rows get nested inside grids
}

// Some General Settings for all Cols
.col {
  font-size: $base-font-size;
  display: inline-block;
  padding: 0 $base-padding;
  vertical-align: top;
  position: relative;
  width: 100%;
}

/*
 * ------------------------------------------------------------------------------ *
 * The Grid Col Classes
 * ------------------------------------------------------------------------------ *
 */

// This Mixin finally creats the cols we need for all important percentages
@mixin makeCols($class) {

  @each $col in 5, 10, 15, 20, 25, 30, 33, 35, 40, 45, 50, 55, 60, 65, 66, 70, 75, 80, 85, 90, 95, 100 {
    // For small Columns
    .#{$class}#{$col} {
      @if $col == 33 {
        width: 33.3333%;
      }
      @else if $col == 66 {
        width: 66.6666%;
      }
      @else {
        width: #{$col + "%"};
      }
    } // End Col

    @if $col != 100 {
      .#{$class}--offset#{$col} {
        @if $col == 33 {
          margin-left: 33.3333%;
        }
        @else if $col == 66 {
          margin-left: 66.6666%;
        }
        @else {
          margin-left: #{$col + "%"};
        }
      } // END --offset

      .#{$class}--tail#{$col} {
        @if $col == 33 {
          margin-right: 33.3333%;
        }
        @else if $col == 66 {
          margin-right: 66.6666%;
        }
        @else {
          margin-right: #{$col + "%"};
        }
      } // End --tail
    } // End $col != 100
  } // END $col
} // END Mixin

// Define Cols for all important Sizes
@each $size in 'lg','md','sm','xs' {

  @if $size == 'lg' {
    @media only screen and (min-width: $bpLarge) {
      @include makeCols('lg');
    } // End @media
  } // End $size == 'lg'

  @if $size == 'md' {
    @media only screen and (min-width: $bpMedium) and (max-width: $bpLarge) {
      @include makeCols('md');
    } // End @media
  } // End $size == 'md'

  @if $size == 'sm' {
    @media only screen and (min-width: $bpSmall) and (max-width: $bpMedium) {
      @include makeCols('sm');
    } // End @media
  } // End $size == 'sm'

  @if $size == 'xs' {
    @media only screen and (max-width: $bpSmall) {
      @include makeCols('xs');
    }
  } // End $size == 'xs'

} // End $size

/*
 * ------------------------------------------------------------------------------ *
 * Helper Classes
 * ------------------------------------------------------------------------------ *
 */

// This Trick helps to put col verticaly middle in high containers
.grid--verticalize {
  height: 100%;
  display: table;
  table-layout: fixed;
  padding: 0;

  > .col {
      vertical-align: middle;
      display: table-cell;
    }
}

// Sometimes you don't want any padding at all on the cols or the grid
.col--cling,
.grid--cling {
  padding: 0;
}

@media only screen and (min-width: $bpLarge) {
  // For Large Columns
  .visible-on-lg {
    display: inherit;
  }

  .hidden-on-lg {
    display: none !important;
  }

  .visible-on-md,
  .visible-on-sm,
  .visible-on-xs {
    display: none;
  }
}

@media only screen and (min-width: $bpMedium) and (max-width: $bpLarge) {
  // For Medium Screens
  .only-till-md {
    display: none !important;
  }

  .hidden-on-md {
    display: none !important;
  }

  .visible-on-md {
    display: inherit;
  }

  .visible-on-lg,
  .visible-on-sm,
  .visible-on-xs {
    display: none;
  }
}

@media only screen and (min-width: $bpSmall) and (max-width: $bpMedium) {
  // For Smaller Screens
  .only-till-md,
  .only-till-sm {
    display: none !important;
  }

  .hidden-on-sm {
    display: none !important;
  }

  .visible-on-sm {
    display: inherit;
  }

  .visible-on-lg,
  .visible-on-md,
  .visible-on-xs {
    display: none;
  }
}

@media only screen and (max-width: $bpSmall) {
  // For Smaller Screens
  .only-till-md,
  .only-till-sm,
  .only-till-xs {
    display: none !important;
  }

  .hidden-on-xs {
    display: none !important;
  }

  .visible-on-xs {
    display: inherit;
  }

  .visible-on-lg,
  .visible-on-md,
  .visible-on-sm {
    display: none;
  }
}
