doctype html
html(lang="en")
  head
    title RIG by Codeship
    meta(name="viewport" content="width=device-width, initial-scale=1")

    //- Loading the basic RIG Framework
    link(rel="stylesheet" href="/assets/css/rig.css")

    //- Extra Styling for the RIG layout page
    link(rel="stylesheet" href="/assets/css/rig-presentation.css")

    //- Loading Font Awesome
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/github.min.css")

    //- Loading other Libraries
    //- -----------------------
    //- Yes, it's not optimized yet as this is work in progress and its for now only to GSD :)
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
    script(src="https://rawgit.com/jevin/Autogrow-Textarea/master/jquery.autogrowtextarea.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js")

  body

    //- All the Markup for our menu.
    //- It automatically jumps from vertical to horizontal. No copy paste of menu entries

    //- Example menu left offcanvas and horizontal
    button.flexMenuToggleButton.-right(data-rig-flexmenu-element="toggle"): span.icon.fa.fa-bars
    .flexMenu.-left(data-rig-ui-menu="horizontal" data-rig-flexmenu-element="menu")
      nav.flexMenu_nav
        .flexMenu_block.-left.-logo
          a(href="/"): h2 R
        ul.flexMenu_block.-right
          li.flexMenu_block_item: a(href="#toc") Table of Contents
          li.flexMenu_block_item: a(href="https://github.com/codeship/RIG" target="_blank") RIG on Github
          li.flexMenu_block_item: a(href="https://codeship.com" target="_blank") Codeship

    //- Fancy Looking Title Block
    .titleBlock
      h1
        | RIG
        span.version 2.0

    .container
      .grid: .row
        .col.m60.m-offset20
          h2 An aesthetically unopinionated CSS Framework
          span.byCodeship by Codeship
          p.
            This project was created out of the frustration in working with so many other CSS frameworks. Of course every framework has it's good and bad parts. This framework is the try to leverage those good parts on a very fundamental level. <br>
            The main concept behind RIG is simplicity and to just provide as much as you actually need without putting you on the spot for adopting a certain <em>look & feel</em> that many frameworks bring along.
          p.
            Even for this early stage I started using RIG on various projects and threw various challenges at it where I was pretty happy with the result. Of course this is not finished yet in total but give it a try and help make it even better :)
          p
            | Best,
            br
            a(href="https://twitter.com/Codebryo"): em Roman Kuba


          hr

          include ./partials/_toc.jade

      include ./partials/_typography.jade
      include ./partials/_grid.jade
      include ./partials/_forms.jade
      include ./partials/_menu.jade

    footer
      .grid
        .row
          .col.m50
            p RIG Framework is shared under the MIT License
          .col.m50.ta-right
            p This page uses highlight.js for coloring codeblocks.
        .row
          .col.m20
            p &copy; 2015 by Codeship
          .col.m60.ta-center
            p
              | A project by
              a(href="https://twitter.com/Codebryo" target="_blank") @Codebryo
              | and made possible through
              a(href="https://twitter.com/codeship" target="_blank") @codeship
          .col.m20.ta-right
            p
              a(href="https://github.com/codeship/RIG" target="_blank") Find RIG on Github

    script(src="/assets/js/rig.js" async="true")
    script(type='text/javascript').
      hljs.initHighlightingOnLoad();

