doctype html
html(lang="en")
  head
    title RIG by Codeship
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="stylesheet", href="/assets/css/rig.css")
    link(rel="stylesheet", href="/assets/css/rig-presentation.css")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  body

    include ./partials/_menu.jade

    .container
      h1 RIG 2.0
      h2 An aesthetically unopinionated CSS Framework by Codeship

      include ./partials/_typography.jade
      include ./partials/_grid.jade
      include ./partials/_forms.jade

    script(src="/assets/js/rig.js", async="true")
