doctype html
html(lang="en")
  head
    title RIG by Codeship

    link(rel="stylesheet", href="rig.css")
    link(rel="stylesheet", href="rig-presentation.css")

  body
    .container
      h1 RIG 2.0
      h2 An aesthetically unoppinotad CSS Framework by Codeship

      include ./partials/_typography.jade
      include ./partials/_grid.jade
      include ./partials/_forms.jade


