/*
** ====================================================
** GLOBAL.SCSS
**
** Basic Definitions for HTML Elements throught the Framework
** ====================================================
*/

/*
 * ------------------------------------------------------------------------------ *
 * GENERAL
 * ------------------------------------------------------------------------------ *
 */

html, body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  min-height: 100%;
  padding: 0 !important;
}

body {
  font: {
    family: $fBody;
    weight: 400;
    style: normal;
    size: $base-font-size; }

  // Better Font Smoothing
  // Apperently not Covered by Autoprefixer
  font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;

  text-stroke: 0px;
  -moz-text-stroke: 0px;
  -webkit-text-stroke: 0px;
  letter-spacing: .1em;

  text-align: center;
  height: 100%;
  min-height: 100%;
  color: $cBody;
  background: $cBodyBg;
}

div,
header,
section,
nav,
article,
aside,
figure,
figcaption,
ul,
ol {
  display: block;
  box-sizing: border-box;
}

::selection {
  text-shadow: none;
  background: $cSelectionBg;
  color: $cSelection;
}

/*
 * ------------------------------------------------------------------------------ *
 * Typography
 * ------------------------------------------------------------------------------ *
 */

h1, h2, h3, h4, h5, h6 {
  font: {
    family: $fHeading;
    weight: 900; }
  margin: 1.4em 0 .5em 0;
  color: #101b28;
  letter-spacing: -.01em;
  line-height: 1.2em;
}

// Styling for Headlines
// If you like that a h2 should look like a h1 just add the class .like-h1

h1, .like-h1 {
  font-size: 3rem;
}

h2, .like-h2 {
  font-size: 2.5rem;
}

h3, .like-h3 {
  font-size: 2rem;
}

h4, .like-h4 {
  font-size: 1.6rem;
}

h5, .like-h5 {
  font-size: 1.4rem;
}

h6, .like-h6 {
  font-size: 1.1rem;
}

// Font Display Helpers
.is-italic      { font-style: italic; }
.is-bold        { font-weight: 700; }
.is-uppercase   { text-transform: uppercase; }
.is-capitalize  { text-transform: capitalize; }

// Text Align Helpers
.ta-center  { text-align: center; }
.ta-left    { text-align: left; }
.ta-right   { text-align: right; }
.ta-justify { text-align: justify; }

// Anchors
a {
  color: $cAnchor;
  cursor: pointer;
  transition: color 100ms, background-image 100ms;
  text-decoration: none;
  font-size: $base-font-size;
  line-height: $base-line-height;
  letter-spacing: -.004em;

  &:hover {
    color: $cAnchorHover;
  }

  @at-root {
    strong a,
    b a,
    a.is-bold {
      letter-spacing: -.001em;
    }
  }
}

// Produce a sexy Underline for anchors
// In Paragraphes it is included by default
.link {
  @include sexyUnderline($cAnchor);

  &:hover {
    @include sexyUnderline($cAnchorHover);
  }
}



p {
  margin: .8em 0;
  font-size: $base-font-size;
  line-height: $base-line-height;
  letter-spacing: -.004em;
  color: $cBody;

  a {
    @extend .link;
    margin: 0 .1em;
  }

  &.is-bold {
    letter-spacing: .001em;
  }
}

strong,b {
  font-weight: 700;
  color: $cBodyStrong;
}

em, i {
  font-style: italic;
}

small {
  font-size: .7em;
}

/*
 * ------------------------------------------------------------------------------ *
 * LISTS
 * ------------------------------------------------------------------------------ *
 */

ul, ol {
  padding: 0;
  list-style: none;
  vertical-align: top;

  li {
    padding: .2em;
    padding-left: 1.5rem;
    font-size: $base-font-size;
    line-height: $base-line-height;
    letter-spacing: -.004em;
  }
}

.ul li::before {
  content: "▸";
  line-height: $base-line-height;
  display: inline-block;
  font-size: .8em;
  color: $cBodyStrong;
  position: absolute;
  transform: translate(-1.5rem,0.2rem);
}

.ul--check li::before {
  content: "✓";
}

.ul__title {
  padding: 0.8em;
  padding-left: $base-padding*1.5;
  font-weight: 700;
  display: block;

  &:before {
    content: none !important;
    width: 0 !important;
  }
}

.ol {
  counter-reset: list-counter;

  li::before {
    position: relative;
    display: inline-block;
    counter-increment: list-counter;
    content: counter(list-counter);
    width: 1em;
    transform: translateX(-100%);
    opacity: .3;
  }
}

/*
 * ------------------------------------------------------------------------------ *
 * CLEARFIX
 * ------------------------------------------------------------------------------ *
 */

.clr { zoom:1 /* For IE 6/7 (trigger hasLayout) */ }

.clr:before,
.clr:after {
  content:"";
  display:table;
}

.clr:after { clear:both }

/*
 * ------------------------------------------------------------------------------ *
 * INPUT FIX
 * ------------------------------------------------------------------------------ *
 */

input:focus, button:focus, textarea:focus, select:focus {
  outline: none;
  box-shadow: none;
}

/*
 * ------------------------------------------------------------------------------ *
 * CODE
 * ------------------------------------------------------------------------------ *
 */

code {
  background: #efefef;
  padding: 0 .2em;
  border-radius: .2rem;
  margin: 0 .1em;
}

pre {
  border: 1px solid #f0f0f0;
  border-radius: .2rem;
  padding: 1rem;

  code {
    background: none;
  }
}


// /*
//  * ------------------------------------------------------------------------------ *
//  * SITEWIDE ELEMENT-CLASSES
//  * ------------------------------------------------------------------------------ *
//  */

.contentWrapper {
  display: inline-block;
  text-align: left;
  width: 100%;
  max-width: $base-max-width;
}
