/*
** ====================================================
** MIXINS.SCSS
**
** Features some basic helper functions that can be used
** thoughout other CSS Files.
** ====================================================
*/

// Add a nice looking underline to your element
@mixin sexyUnderline($color) {
  background: {
    repeat: repeat-x;
    size: .1rem .1rem;
    position: 0 100%;
    image: linear-gradient(to bottom, transparent 50%, $color 50%);
  }
}
