
// Some Basic Values

$base-font-size:    16px;
$base-padding:      10px;
$base-line-height:  1.42em;

// Font Related Default Values
// Taken from http://cssfontstack.com/
// Feel free to switch out to any Webfonts you like

$fBody:           "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$fHeading:        Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$fCode:           "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;


/*
 * BREAKPOINTS | prefixed with bp
 * This Classes actually affect the Grid System as corresponding classes only work in correct spaces
 */

$bpLarge: 60rem;
$bpMedium: 45rem;
$bpSmall: 30rem;

// Color Definitions

$cSelectionBg:  #5A95E5;
$cSelection:    #FFF;

// Body
$cBody:         #7B889A;
$cBodyStrong:   #101b27;
$cBodyBg:       #FFF;

// Anchors
$cAnchor:       #5A95E5;
$cAnchorHover:  darken($cAnchor, 8%);
