// Mixins for RIG

@mixin sexy-underline($color, $percent: 90%) {
  background-image: linear-gradient(to bottom, #fff 70%, $color 75%);
  background-size: 2px 4px;
  background-position: 0 $percent;
  background-repeat: repeat-x;
}

@mixin appearance($value) {
  -webkit-appearance: #{$value}; // Safari Webkit
  -moz-appearance: #{$value}; // Firefox
  appearance: #{$value};
}

@mixin smaller-than($breakpoint-name, $removeValue: 0) {
  $width: map-get($m-breakpoints, $breakpoint-name);
  @media screen and (max-width: #{$width - $removeValue}) {
    @content;
  }
}

@mixin larger-than($breakpoint-name, $addValue: 0) {
  $width: map-get($m-breakpoints, $breakpoint-name);
  @media screen and (min-width: #{$width + $addValue}) {
    @content;
  }
}
