// Make Columns based on the available sizes and prefix with the correct class
@mixin makeCols($class) {

  $bpCols: 0;

  // Sadly no Variable interpolation in Sass :(
  @if $class == 's' {
    $bpCols: $bp-s;
  } @else if $class == 'm' {
    $bpCols: $bp-m;
  } @else if $class == 'l' {
    $bpCols: $bp-l;
  }

  // Take care of certain Edgecases like 33% to have a better result

  @media screen and (min-width: #{$bpCols}) {
    @each $size in $_grid-sizes {

      &.#{$class}#{$size} {
        @if $size == 33 {
          width: 33.3333%;
        } @else if $size == 66 {
          width: 66.6666%;
        } @else {
          width: #{$size + "%"};
        }
      }

      &.#{$class + "-offset"}#{$size} {
        @if $size == 33 {
          margin-left: 33.3333%;
        } @else if $size == 66 {
          margin-left: 66.6666%;
        } @else {
          margin-left: #{$size + "%"};
        }
      }

      &.#{$class + "-tail"}#{$size} {
        @if $size == 33 {
          margin-right: 33.3333%;
        } @else if $size == 66 {
          margin-right: 66.6666%;
        } @else {
          margin-right: #{$size + "%"};
        }
      }
    }
  }
}

// Make the Grid
@mixin makeGrid() {
  @each $range in $_grid-ranges {

    @include makeCols($range);

  }
}
