h1.section-title Forms

p Building some Form examples

form.form
  .grid
    .row
      .col.m75.l50
        label.label(for="name")
          span._title Please enter your name
          input#name(type="text", name="name")
      .col.m75.l50
        label.label(for="email")
          span._title Please enter your Email Address
          input#email(type="email", name="email")
      .col.m75.l50
        label.label(for="country")
          span._title Please enter your Email Address
          select(name="country")
            option(value="DiscWorld") Disc World
            option(value="Narnia") Narnia
            option(value="MiddleEarth") Middle Earth
      .col.m75.l50
        label.label(for="body")
          textarea(name="body")
      .col.m75.l50
        label.label.-checkbox
          input(type="checkbox")
          span._title Please Check this box

        label.label.-checkbox
          input(type="checkbox")
          span._title Another Checkbox
