h1.section-title Forms

p Forms are important.

pre: code.
  &lt;label class="label" for="name"&gt;
    &lt;span class="label_title"&gt;Whats your name?&lt;/span&gt;
    &lt;input type="text" name="name" id="name" /&gt;
  &lt;/label&gt;

p Building some Form examples

form.form
  .grid
    .row
      .col.m75.l50
        label.label(for="name")
          span.label_title Please enter your name
          input#name(type="text", name="name")
      .col.m75.l50
        label.label(for="email")
          span.label_title Please enter your Email Address
          input#email(type="email", name="email")
      .col.m75.l50
        label.label(for="country")
          span.label_title Please enter your Email Address
          select(name="country")
            option(value="DiscWorld") Disc World
            option(value="Narnia") Narnia
            option(value="MiddleEarth") Middle Earth
      .col.m75.l50
        label.label(for="body")
          span.label_title Leave us a Message (Autogrowing)
          textarea(name="body", rows="10", data-rig-ui-textarea="autogrow")
    .row
      .col
        h3 Checkbox and Radio Button Interactions

        label.label.-checkbox
          input(type="checkbox")
          span.label_title Checkbox Example

        pre: code.
          &lt;label class="label -checkbox" for="subscribe"&gt;
            &lt;input type="checkbox" name="subscribe" id="subscribe" /&gt;
            &lt;span class="label_title"&gt;Do you want to subscribe?&lt;/span&gt;
          &lt;/label&gt;

        .radiogroup
          label.label.-radio
            input(type="radio", name="language")
            span.label_title JavaScript

          label.label.-radio
            input(type="radio", name="language")
            span.label_title Ruby

          label.label.-radio
            input(type="radio", name="language")
            span.label_title PHP

          label.label.-radio
            input(type="radio", name="language")
            span.label_title Python

        pre: code.
          &lt;div class="radiogroup"&gt;

            &lt;label class="label -radio" for="language"&gt;
              &lt;input type="radio" name="language" /&gt;
              &lt;span class="label_title"&gt;JavaScript&lt;/span&gt;
            &lt;/label&gt;

            &lt;label class="label -radio" for="language"&gt;
              &lt;input type="radio" name="language" /&gt;
              &lt;span class="label_title"&gt;JavaScript&lt;/span&gt;
            &lt;/label&gt;

          &lt;/div&gt;

      .col
        p You could actually make the radiogroup horizontal and responsive by using the built in grid system.

        h3 How would you rate this framework ?
        .radiogroup.-horizontal.row
          label.label.-radio.col.xs50.s20(for="rate-notgood")
            input(type="radio", name="rate", id="rate-notgood")
            span.label_title Not Good

          label.label.-radio.col.xs50.s20(for="rate-okayish")
            input(type="radio", name="rate", id="rate-okayish")
            span.label_title Okay-ish

          label.label.-radio.col.xs50.s20(for="rate-okay")
            input(type="radio", name="rate", id="rate-okay")
            span.label_title Okay

          label.label.-radio.col.xs50.s20(for="rate-good")
            input(type="radio", name="rate", id="rate-good")
            span.label_title Good

          label.label.-radio.col.xs50.s20(for="rate-unicorn")
            input(type="radio", name="rate", id="rate-unicorn")
            span.label_title Like a Unicorn

        pre: code.
          &lt;div class="radiogroup -horizontal row"&gt;

            &lt;label class="label -radio col s50" for="language"&gt;
              &lt;input type="radio" name="language" /&gt;
              &lt;span class="label_title"&gt;JavaScript&lt;/span&gt;
            &lt;/label&gt;

            &lt;label class="label -radio col s50" for="language"&gt;
              &lt;input type="radio" name="language" /&gt;
              &lt;span class="label_title"&gt;JavaScript&lt;/span&gt;
            &lt;/label&gt;

          &lt;/div&gt;

      hr

      .col
        h3 Switches

      .col.m50
        h4 Radio Group Switch
        .label
          span.label_title Receive Mails
          .switchbutton.-radio
            label.label.-on(for="powerswitch-on") Daily
            input.on(type="radio" name="powerswitch" id="powerswitch-on")
            label.label.-off(for="powerswitch-off") Weekly
            input.off(type="radio" name="powerswitch" id="powerswitch-off")
            .switchbutton_base
            .switchbutton_marker


      .col.m50
        h4 Checkbox Switch
        .label
          span.label_title Send me Spam Mails
          .switchbutton.-checkbox
            label.label.-on(for="checky") No
            label.label.-off(for="checky") Yes
            input(type="checkbox" name="value" id="checky")
            .switchbutton_base
            .switchbutton_marker

      hr

      .col
        h3 Buttons

      .col
        button.btn(type="submit") Submit Button

        button.btn Some Button

        .btnGroup
          button.btn Left
          button.btn Right

        .btnGroup
          button.btn Left
          button.btn Middle
          button.btn Right

        .btnGroup
          button.btn(type="submit") Submit Button
          a.btn(type="cancel", href="#cancelForm") Cancel
