h1.section-title#grid Grid System

p.
  One important element when building a modern webpage is nearly always a grid system.
  <br>
  The grid provided by RIG is rercentage based and available are all 5% steps from 5 - 100%. This should make calculations easy and intuitive. If you want to use columns divided by 3 you can use 33% and 66%.
  <br>
  Instead of a 12 or 16 col layout this grid system should provde you maximum flexibility for what you may want to achive.
  Of course it is built <strong>mobile first</strong>

.grid.grid-presentation
  .row: .col.s5 5
  .row: .col.s10 10
  .row: .col.s15 15
  .row: .col.s20 20
  .row: .col.s25 25
  .row: .col.s30 30
  .row: .col.s33 33
  .row: .col.s35 35
  .row: .col.s40 40
  .row: .col.s45 45
  .row: .col.s50 50
  .row: .col.s55 55
  .row: .col.s60 60
  .row: .col.s65 65
  .row: .col.s66 66
  .row: .col.s70 70
  .row: .col.s75 75
  .row: .col.s80 80
  .row: .col.s85 85
  .row: .col.s90 90
  .row: .col.s95 95
  .row: .col.s100 100


p Columns are hosted in rows and are fully responsive if you want them to. By default RIG provides breakpoints for:
ul
  li extra small screens - prefixed with <strong>xs</strong>
  li small screens - prefixed with <strong>s</strong>
  li medium screens - prefixed with <strong>m</strong>
  li large screens - prefixed with <strong>l</strong>

p All those definitions of course are counting up to larger screens. So if you define a small screen to use 50% columns, they will also be 50% for medium and large screens unless you define something else.
p So the basic structre of a grid could look something like this:

pre: code.
  &lt;div class="grid"&gt;
    &lt;div class="row"&gt;
      &lt;div class="col s50 m25 l20"&gt;
        ...
      &lt;/div&gt;
      ...
    &lt;/div&gt;
  &lt;/div&gt;

p The following Section will host some other examples for you that show what classes are set as text.

p.example Example:

.grid.grid-presentation
  .row
    .col.s50.m25.l20
      p .col.s50.m25.l20
    .col.s50.m25.l20
      p .col.s50.m25.l20
    .col.s50.m25.l20
      p .col.s50.m25.l20
    .col.s50.m25.l20
      p .col.s50.m25.l20
    .col.s50.m25.l20
      p .col.s50.m25.l20

p.example Example:
p.
  You can also nest grids in each other. Be sure to use <code>.row</code> Elements for generating a clean and semantic structure.
  Also you can use the <code>-cling</code> class on elements if you don't want to have a padding on those columns


.grid.grid-presentation
  .row
    .col
      .row
        .col.s50.m50
          p .col.s50.m50
          .row
            .col.m50
              p .col.m50
            .col.m50
              p .col.m50
        .col.s50.m50
          p .col.s50.m50
          .row
            .col.m50
              p .col.m50
            .col.m50
              p .col.m50

p.example Example:
p.
  Lets create a more complex example where we want to have 6 columns on large screens. For achiving this you would need to wrap 50% cols into three 33% cols.

.grid.grid-presentation
  .row
    .col.s33.-cling
      .row
        .col.l50
          p .col.l50
        .col.l50
          p .col.l50
    .col.s33.-cling
      .row
        .col.l50
          p .col.l50
        .col.l50
          p .col.l50
    .col.s33.-cling
      .row
        .col.l50
          p .col.l50
        .col.l50
          p .col.l50

p.example Example:
p Using Tail and Offset for handling spaces between you columns

.grid.grid-presentation
  .row
    .col.s70.s-offset15.m50.m-offset25
      p .col.s70.s-offset15.m50.m-offset25

.grid.grid-presentation
  .row
    .col.s50.s-tail10
      p .col.s50.s-tail10
    .col.s40
      p .col.s40
