button.menuToggleButton.-right Menu
.menu.-left(data-rig-ui-menu="horizontal")
  nav.nav
    ._block.-left
      a(href="/"): h1 RIG
    ul
      li._item: a(href="#") Menu Item 1
      li._item: a(href="#") Menu Item 2
      li._item: a(href="#") Menu Item 3
      li._item: a(href="#") Menu Item 4
      li._item: a(href="#") Menu Item 5
      li._item: a(href="#") Menu Item 6

    ._block.-left
      a(href="/") contact
