button.menuToggleButton.-right Menu
.menu.-left(data-rig-ui-menu="horizontal")
  nav.nav
    ._block.-left.-logo
      a(href="/"): h1 RIG
    ul._block
      li._item(data-ui-component="dropdown")
        a(href="javascript:void(0)", data-dropdown-element="toggle") sections
        ul(data-dropdown-element="dropdown")
          li: a(href="#typography") Typography
          li: a(href="#forms") Forms
          li: a(href="#grid") Grid

    ._block.-right
      a(href="/") contact
