//- All the Markup for our menu.
//- It automatically jumps from vertical to horizontal. No copy paste of menu entries

//- Example menu left offcanvas and horizontal
button.flexMenuToggleButton.-right(data-rig-flexmenu-element="toggle") Menu
.flexMenu.-left(data-rig-ui-menu="horizontal", data-rig-flexmenu-element="menu")
  nav.flexMenu_nav
    .flexMenu_block.-left.-logo
      a(href="/"): h2: span.icon.fa.fa-institution
    ul.flexMenu_block.-right
      li.flexMenu_block_item: a(href="#toc") Table of Contents
      li.flexMenu_block_item: a(href="https://codeship.com") Codeship
