h3 Table of Contents

ol.toc#toc
  li
    a(href="#typography") Typography
    ol
      li: a(href="#titles") Titles
      li: a(href="#paragraphs") Paragraphs
      li: a(href="#code") Using Code elements
      li: a(href="#helpers") Helpers
  li
    a(href="#grid") Grid System
