h3 Table of Contents

ol.toc#toc
  li
    a(href="#get-started") Get Started
  li
    a(href="#typography") Typography
    ol
      li: a(href="#typography-titles") Title Elements
      li: a(href="#typography-paragraphs") Paragraphs
      li: a(href="#typography-code") Code Elements
      li: a(href="#typography-helpers") Various Text Helpers
  li
    a(href="#grid") Grid System
    ol
      li: a(href="#grid-helpers") Grid Helpers
  li
    a(href="#forms") Forms
    ol
      li: a(href="#forms-switches") Switches
      li: a(href="#forms-buttons") Buttons
  li
    a(href="#flexmenu") The FlexMenu
    ol
      li: a(href="#flexmenu-options") Options
      li: a(href="#flexmenu-elements") Elements
      li: a(href="#flexmenu-example") Example
