// =======================================
// TYPOGRAPHY
// Common base styling for text nodes and special elements like anchors and similar
// =======================================

h1 Typography

h1 Title h1
h2 Title h2
h3 Title h3
h4 Title h4

p  Lorem ipsum dolor sit amet, <em>consectetur adipisicing elit</em>. Aperiam minima unde sint est tempore, <strong>voluptatum dolore, iusto,</strong> dolorem vitae quibusdam modi. Totam, voluptas! Necessitatibus perferendis laborum, sequi tempore voluptate iure.


a(href="#") Long Link with Spaces
br

a(href="#") Home
