// =======================================
// TYPOGRAPHY
// Common base styling for text nodes and special elements like anchors and similar
// =======================================


h1.section-title Typography

h1 Title h1
h2 Title h2
h3 Title h3
h4 Title h4
h5 Title h5
h6 Title h6

p <strong>LOREM IPSUM DOLOR SIT AMET</strong>, consectetur adipisicing elit. Consequatur a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.
p
  em Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae soluta, iusto facilis impedit veniam consectetur inventore laboriosam nihil? Ad, veniam. Iusto, itaque quas, pariatur repellat voluptatibus omnis ducimus animi culpa.
  a(href="javascript:void(0)") Read more

p.example Example:

code &lt;code&gt;javascript:void(0)&lt;/code&gt;

pre.
  &lt;pre&gt;
    &lt;button data-ui-component="modal"&gt;Show a Modal on Click&lt;button&gt;
    &lt;p&gt;All the JS actions are triggered using data bindings&lt;p&gt;
  &lt;/pre&gt;



