html {
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 19px;
  }
}

body {
  margin: 0;
  padding: 0;
  color: #242628;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

div,
article {
  display: block;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.like-h1,
.like-h2,
.like-h3,
.like-h4,
.like-h5,
.like-h6 {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  line-height: 1.2em;
  margin: .6em 0;
}

h1,
.like-h1 {
  font-size: 2.5rem;
}

h2,
.like-h2 {
  font-size: 2rem;
}

h3,
.like-h3 {
  font-size: 1.6rem;
}

h4,
.like-h4 {
  font-size: 1.4rem;
}

h5,
.like-h5 {
  font-size: 1.2rem;
}

h6,
.like-h6 {
  font-size: 1.2rem;
  font-weight: 400;
}

ul {
  list-style-type: square;
  margin: 0;
  padding: 5px 0 5px 1em;
}

ol {
  list-style: none;
  counter-reset: ol;
  padding: 5px 0 5px 15px;
}

ol li::before {
  content: counters(ol, ".") ".";
  counter-increment: ol;
  margin-right: .5em;
}

p {
  font-size: 1rem;
  line-height: 1.4em;
}

@media screen and (max-width: 600px) {
  p {
    line-height: 1.2em;
  }
}

p a {
  margin-left: .3em;
  margin-right: .3em;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

a {
  background-image: -webkit-linear-gradient(top, #fff 0%, #4a90e2 1%);
  background-image: linear-gradient(to bottom, #fff 0%, #4a90e2 1%);
  background-size: 1px 1px;
  background-position: 0 90%;
  background-repeat: repeat-x;
  color: #4a90e2;
  -webkit-transition: color 200ms, background-image 200ms;
  transition: color 200ms, background-image 200ms;
  text-decoration: none;
}

a:hover {
  background-image: -webkit-linear-gradient(top, #fff 0%, #2e77cc 1%);
  background-image: linear-gradient(to bottom, #fff 0%, #2e77cc 1%);
  background-size: 1px 1px;
  background-position: 0 90%;
  background-repeat: repeat-x;
  color: #2e77cc;
}

code,
pre {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  border-radius: 4px;
  color: #242628;
  background: #eaeaea;
}

code {
  padding: 0.1em 0.4em;
}

pre {
  display: block;
  padding: 0;
}

pre code {
  display: block;
  padding: 15px;
  overflow-x: auto;
}

a,
button {
  cursor: pointer;
}

.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;
}

.ta-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}

.text-underline {
  background-image: -webkit-linear-gradient(top, #fff 0%, #242628 1%);
  background-image: linear-gradient(to bottom, #fff 0%, #242628 1%);
  background-size: 1px 1px;
  background-position: 0 90%;
  background-repeat: repeat-x;
}

.text-slash {
  background-image: -webkit-linear-gradient(top, #fff 0%, #242628 1%);
  background-image: linear-gradient(to bottom, #fff 0%, #242628 1%);
  background-size: 1px 1px;
  background-position: 0 50%;
  background-repeat: repeat-x;
}

.flexMenu {
  display: inline-block;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  max-width: 300px;
  background: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: left;
  z-index: 100;
}

@media screen and (max-width: 900px) {
  .flexMenu {
    -webkit-transition: -webkit-transform 300ms;
    transition: transform 300ms;
  }
  .flexMenu.-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .flexMenu.-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  .flexMenu.is-open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.flexMenu.-left {
  left: 0;
  border-right: 1px solid #ccc;
}

.flexMenu.-right {
  right: 0;
  border-left: 1px solid #ccc;
}

.flexMenu a {
  display: block;
  background-image: none;
}

.flexMenu_nav {
  display: block;
}

.flexMenuToggleButton {
  position: fixed;
  top: 15px;
  left: 15px;
  right: 15px;
}

@media screen and (min-width: 900px) {
  .flexMenuToggleButton {
    display: none;
  }
}

.flexMenuToggleButton.-left {
  right: auto;
}

.flexMenuToggleButton.-right {
  left: auto;
}

.flexMenu_block {
  padding: 0 15px;
  z-index: 101;
}

.flexMenu_block a {
  display: block;
}

.flexMenu_block.-logo {
  padding: 0;
}

.flexMenu_block.-logo > a {
  -webkit-transition: color 300ms, background 300ms;
  transition: color 300ms, background 300ms;
  padding: 0 15px;
  text-decoration: none;
  background-image: none;
  color: #242628;
}

.flexMenu_block.-logo > a:hover {
  color: #2e77cc;
  background: #eaeaea;
}

.flexMenu_block_item {
  display: block;
  position: relative;
}

@media screen and (min-width: 900px) {
  .flexMenu:not([data-rig-ui-menu=horizontal]).-left ~ .container {
    padding-left: 300px;
  }
  .flexMenu:not([data-rig-ui-menu=horizontal]).-right ~ .container {
    padding-right: 300px;
  }
}

@media screen and (min-width: 1400px) {
  .flexMenu:not([data-rig-ui-menu=horizontal]).-left ~ .container {
    padding-left: 150px;
  }
  .flexMenu:not([data-rig-ui-menu=horizontal]).-right ~ .container {
    padding-right: 150px;
  }
}

@media screen and (min-width: 1500px) {
  .flexMenu:not([data-rig-ui-menu=horizontal]).-left ~ .container {
    padding-left: 100px;
  }
  .flexMenu:not([data-rig-ui-menu=horizontal]).-right ~ .container {
    padding-right: 100px;
  }
}

@media screen and (min-width: 1700px) {
  .flexMenu:not([data-rig-ui-menu=horizontal]).-left ~ .container {
    padding-left: 0;
  }
  .flexMenu:not([data-rig-ui-menu=horizontal]).-right ~ .container {
    padding-right: 0;
  }
}

@media screen and (min-width: 900px) {
  .flexMenu[data-rig-ui-menu=horizontal] {
    display: block;
    position: relative;
    height: auto;
    max-width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    overflow: visible;
  }
  .flexMenu[data-rig-ui-menu=horizontal].-sticky {
    position: fixed;
  }
  .flexMenu[data-rig-ui-menu=horizontal].-sticky + .container {
    margin-top: 4em;
  }
  .flexMenu[data-rig-ui-menu=horizontal] .flexMenu_nav {
    display: table;
    width: 100%;
  }
  .flexMenu[data-rig-ui-menu=horizontal] .flexMenu_block {
    display: table-cell;
    vertical-align: middle;
    height: auto;
    text-align: left;
  }
  .flexMenu[data-rig-ui-menu=horizontal] .flexMenu_block.-left,
  .flexMenu[data-rig-ui-menu=horizontal] .flexMenu_block.-right {
    width: 1%;
  }
  .flexMenu[data-rig-ui-menu=horizontal] .flexMenu_block.-left {
    margin-left: 0;
  }
  .flexMenu[data-rig-ui-menu=horizontal] .flexMenu_block.-right {
    margin-right: 0;
    text-align: right;
  }
  .flexMenu[data-rig-ui-menu=horizontal] .flexMenu_block_item {
    display: inline-block;
    padding: 0 15px;
  }
  .flexbox .flexMenu[data-rig-ui-menu=horizontal] .flexMenu_nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .flexbox .flexMenu[data-rig-ui-menu=horizontal] .flexMenu_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .flexbox .flexMenu[data-rig-ui-menu=horizontal] .flexMenu_block.-left,
  .flexbox .flexMenu[data-rig-ui-menu=horizontal] .flexMenu_block.-right {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
  .flexbox .flexMenu[data-rig-ui-menu=horizontal] .flexMenu_block_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .flexbox .flexMenu[data-rig-ui-menu=horizontal] ul.flexMenu_block {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

[data-dropdown-element=dropdown] {
  display: none;
  padding-left: 7.5px;
  text-align: left;
  z-index: 110;
}

[data-dropdown-element=toggle] {
  position: relative;
}

[data-dropdown-element=toggle].is-open ~ [data-dropdown-element=dropdown],
[data-dropdown-element=toggle].is-open > [data-dropdown-element=dropdown] {
  display: block;
  pointer-events: auto;
  max-height: 50vh;
}

@media screen and (min-width: 900px) {
  [data-rig-ui-menu=horizontal] [data-dropdown-element=dropdown] {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    padding: 7.5px;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.34, 1.61, 0.7, 1), opacity 300ms;
    transition: transform 300ms cubic-bezier(0.34, 1.61, 0.7, 1), opacity 300ms;
    -webkit-transform: translate(-50%, 10px) scale3d(0, 0, 0);
    transform: translate(-50%, 10px) scale3d(0, 0, 0);
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    opacity: 0;
  }
  [data-rig-ui-menu=horizontal] [data-dropdown-element=dropdown]::before,
  [data-rig-ui-menu=horizontal] [data-dropdown-element=dropdown]::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 50%;
    border: 10px solid transparent;
    border-bottom-color: #ccc;
    -webkit-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
  }
  [data-rig-ui-menu=horizontal] [data-dropdown-element=dropdown]::after {
    top: 2px;
    border-bottom-color: #fff;
  }
  [data-rig-ui-menu=horizontal] [data-dropdown-element=toggle]::after {
    content: none;
  }
  [data-rig-ui-menu=horizontal] [data-dropdown-element=toggle].is-open ~ [data-dropdown-element=dropdown] {
    display: block;
    opacity: 1;
    -webkit-transform: translate(-50%, 10px) scale3d(1, 1, 1);
    transform: translate(-50%, 10px) scale3d(1, 1, 1);
  }
}

.container {
  display: inline-block;
  width: 100%;
  max-width: 1100px;
  text-align: left;
  vertical-align: top;
}

.container.-full {
  max-width: 100%;
}

.grid {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 0;
}

.grid .col {
  display: inline-block;
  width: 100%;
  padding: 0 15px;
  font-size: 1rem;
  vertical-align: top;
}

.grid .col.-cling {
  padding: 0;
}

.grid .col.-clingLeft {
  padding-left: 0;
}

.grid .col.-clingRight {
  padding-right: 0;
}

.grid .row {
  display: block;
  width: 100%;
  font-size: 0;
}

.col.xs5 {
  width: 5%;
}

.col.xs-offset5 {
  margin-left: 5%;
}

.col.xs-tail5 {
  margin-right: 5%;
}

.col.xs10 {
  width: 10%;
}

.col.xs-offset10 {
  margin-left: 10%;
}

.col.xs-tail10 {
  margin-right: 10%;
}

.col.xs15 {
  width: 15%;
}

.col.xs-offset15 {
  margin-left: 15%;
}

.col.xs-tail15 {
  margin-right: 15%;
}

.col.xs20 {
  width: 20%;
}

.col.xs-offset20 {
  margin-left: 20%;
}

.col.xs-tail20 {
  margin-right: 20%;
}

.col.xs25 {
  width: 25%;
}

.col.xs-offset25 {
  margin-left: 25%;
}

.col.xs-tail25 {
  margin-right: 25%;
}

.col.xs30 {
  width: 30%;
}

.col.xs-offset30 {
  margin-left: 30%;
}

.col.xs-tail30 {
  margin-right: 30%;
}

.col.xs33 {
  width: 33.3333%;
}

.col.xs-offset33 {
  margin-left: 33.3333%;
}

.col.xs-tail33 {
  margin-right: 33.3333%;
}

.col.xs35 {
  width: 35%;
}

.col.xs-offset35 {
  margin-left: 35%;
}

.col.xs-tail35 {
  margin-right: 35%;
}

.col.xs40 {
  width: 40%;
}

.col.xs-offset40 {
  margin-left: 40%;
}

.col.xs-tail40 {
  margin-right: 40%;
}

.col.xs45 {
  width: 45%;
}

.col.xs-offset45 {
  margin-left: 45%;
}

.col.xs-tail45 {
  margin-right: 45%;
}

.col.xs50 {
  width: 50%;
}

.col.xs-offset50 {
  margin-left: 50%;
}

.col.xs-tail50 {
  margin-right: 50%;
}

.col.xs55 {
  width: 55%;
}

.col.xs-offset55 {
  margin-left: 55%;
}

.col.xs-tail55 {
  margin-right: 55%;
}

.col.xs60 {
  width: 60%;
}

.col.xs-offset60 {
  margin-left: 60%;
}

.col.xs-tail60 {
  margin-right: 60%;
}

.col.xs65 {
  width: 65%;
}

.col.xs-offset65 {
  margin-left: 65%;
}

.col.xs-tail65 {
  margin-right: 65%;
}

.col.xs66 {
  width: 66.6666%;
}

.col.xs-offset66 {
  margin-left: 66.6666%;
}

.col.xs-tail66 {
  margin-right: 66.6666%;
}

.col.xs70 {
  width: 70%;
}

.col.xs-offset70 {
  margin-left: 70%;
}

.col.xs-tail70 {
  margin-right: 70%;
}

.col.xs75 {
  width: 75%;
}

.col.xs-offset75 {
  margin-left: 75%;
}

.col.xs-tail75 {
  margin-right: 75%;
}

.col.xs80 {
  width: 80%;
}

.col.xs-offset80 {
  margin-left: 80%;
}

.col.xs-tail80 {
  margin-right: 80%;
}

.col.xs85 {
  width: 85%;
}

.col.xs-offset85 {
  margin-left: 85%;
}

.col.xs-tail85 {
  margin-right: 85%;
}

.col.xs90 {
  width: 90%;
}

.col.xs-offset90 {
  margin-left: 90%;
}

.col.xs-tail90 {
  margin-right: 90%;
}

.col.xs95 {
  width: 95%;
}

.col.xs-offset95 {
  margin-left: 95%;
}

.col.xs-tail95 {
  margin-right: 95%;
}

.col.xs100 {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .col.s5 {
    width: 5%;
  }
  .col.s-offset5 {
    margin-left: 5%;
  }
  .col.s-tail5 {
    margin-right: 5%;
  }
  .col.s10 {
    width: 10%;
  }
  .col.s-offset10 {
    margin-left: 10%;
  }
  .col.s-tail10 {
    margin-right: 10%;
  }
  .col.s15 {
    width: 15%;
  }
  .col.s-offset15 {
    margin-left: 15%;
  }
  .col.s-tail15 {
    margin-right: 15%;
  }
  .col.s20 {
    width: 20%;
  }
  .col.s-offset20 {
    margin-left: 20%;
  }
  .col.s-tail20 {
    margin-right: 20%;
  }
  .col.s25 {
    width: 25%;
  }
  .col.s-offset25 {
    margin-left: 25%;
  }
  .col.s-tail25 {
    margin-right: 25%;
  }
  .col.s30 {
    width: 30%;
  }
  .col.s-offset30 {
    margin-left: 30%;
  }
  .col.s-tail30 {
    margin-right: 30%;
  }
  .col.s33 {
    width: 33.3333%;
  }
  .col.s-offset33 {
    margin-left: 33.3333%;
  }
  .col.s-tail33 {
    margin-right: 33.3333%;
  }
  .col.s35 {
    width: 35%;
  }
  .col.s-offset35 {
    margin-left: 35%;
  }
  .col.s-tail35 {
    margin-right: 35%;
  }
  .col.s40 {
    width: 40%;
  }
  .col.s-offset40 {
    margin-left: 40%;
  }
  .col.s-tail40 {
    margin-right: 40%;
  }
  .col.s45 {
    width: 45%;
  }
  .col.s-offset45 {
    margin-left: 45%;
  }
  .col.s-tail45 {
    margin-right: 45%;
  }
  .col.s50 {
    width: 50%;
  }
  .col.s-offset50 {
    margin-left: 50%;
  }
  .col.s-tail50 {
    margin-right: 50%;
  }
  .col.s55 {
    width: 55%;
  }
  .col.s-offset55 {
    margin-left: 55%;
  }
  .col.s-tail55 {
    margin-right: 55%;
  }
  .col.s60 {
    width: 60%;
  }
  .col.s-offset60 {
    margin-left: 60%;
  }
  .col.s-tail60 {
    margin-right: 60%;
  }
  .col.s65 {
    width: 65%;
  }
  .col.s-offset65 {
    margin-left: 65%;
  }
  .col.s-tail65 {
    margin-right: 65%;
  }
  .col.s66 {
    width: 66.6666%;
  }
  .col.s-offset66 {
    margin-left: 66.6666%;
  }
  .col.s-tail66 {
    margin-right: 66.6666%;
  }
  .col.s70 {
    width: 70%;
  }
  .col.s-offset70 {
    margin-left: 70%;
  }
  .col.s-tail70 {
    margin-right: 70%;
  }
  .col.s75 {
    width: 75%;
  }
  .col.s-offset75 {
    margin-left: 75%;
  }
  .col.s-tail75 {
    margin-right: 75%;
  }
  .col.s80 {
    width: 80%;
  }
  .col.s-offset80 {
    margin-left: 80%;
  }
  .col.s-tail80 {
    margin-right: 80%;
  }
  .col.s85 {
    width: 85%;
  }
  .col.s-offset85 {
    margin-left: 85%;
  }
  .col.s-tail85 {
    margin-right: 85%;
  }
  .col.s90 {
    width: 90%;
  }
  .col.s-offset90 {
    margin-left: 90%;
  }
  .col.s-tail90 {
    margin-right: 90%;
  }
  .col.s95 {
    width: 95%;
  }
  .col.s-offset95 {
    margin-left: 95%;
  }
  .col.s-tail95 {
    margin-right: 95%;
  }
  .col.s100 {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  .col.m5 {
    width: 5%;
  }
  .col.m-offset5 {
    margin-left: 5%;
  }
  .col.m-tail5 {
    margin-right: 5%;
  }
  .col.m10 {
    width: 10%;
  }
  .col.m-offset10 {
    margin-left: 10%;
  }
  .col.m-tail10 {
    margin-right: 10%;
  }
  .col.m15 {
    width: 15%;
  }
  .col.m-offset15 {
    margin-left: 15%;
  }
  .col.m-tail15 {
    margin-right: 15%;
  }
  .col.m20 {
    width: 20%;
  }
  .col.m-offset20 {
    margin-left: 20%;
  }
  .col.m-tail20 {
    margin-right: 20%;
  }
  .col.m25 {
    width: 25%;
  }
  .col.m-offset25 {
    margin-left: 25%;
  }
  .col.m-tail25 {
    margin-right: 25%;
  }
  .col.m30 {
    width: 30%;
  }
  .col.m-offset30 {
    margin-left: 30%;
  }
  .col.m-tail30 {
    margin-right: 30%;
  }
  .col.m33 {
    width: 33.3333%;
  }
  .col.m-offset33 {
    margin-left: 33.3333%;
  }
  .col.m-tail33 {
    margin-right: 33.3333%;
  }
  .col.m35 {
    width: 35%;
  }
  .col.m-offset35 {
    margin-left: 35%;
  }
  .col.m-tail35 {
    margin-right: 35%;
  }
  .col.m40 {
    width: 40%;
  }
  .col.m-offset40 {
    margin-left: 40%;
  }
  .col.m-tail40 {
    margin-right: 40%;
  }
  .col.m45 {
    width: 45%;
  }
  .col.m-offset45 {
    margin-left: 45%;
  }
  .col.m-tail45 {
    margin-right: 45%;
  }
  .col.m50 {
    width: 50%;
  }
  .col.m-offset50 {
    margin-left: 50%;
  }
  .col.m-tail50 {
    margin-right: 50%;
  }
  .col.m55 {
    width: 55%;
  }
  .col.m-offset55 {
    margin-left: 55%;
  }
  .col.m-tail55 {
    margin-right: 55%;
  }
  .col.m60 {
    width: 60%;
  }
  .col.m-offset60 {
    margin-left: 60%;
  }
  .col.m-tail60 {
    margin-right: 60%;
  }
  .col.m65 {
    width: 65%;
  }
  .col.m-offset65 {
    margin-left: 65%;
  }
  .col.m-tail65 {
    margin-right: 65%;
  }
  .col.m66 {
    width: 66.6666%;
  }
  .col.m-offset66 {
    margin-left: 66.6666%;
  }
  .col.m-tail66 {
    margin-right: 66.6666%;
  }
  .col.m70 {
    width: 70%;
  }
  .col.m-offset70 {
    margin-left: 70%;
  }
  .col.m-tail70 {
    margin-right: 70%;
  }
  .col.m75 {
    width: 75%;
  }
  .col.m-offset75 {
    margin-left: 75%;
  }
  .col.m-tail75 {
    margin-right: 75%;
  }
  .col.m80 {
    width: 80%;
  }
  .col.m-offset80 {
    margin-left: 80%;
  }
  .col.m-tail80 {
    margin-right: 80%;
  }
  .col.m85 {
    width: 85%;
  }
  .col.m-offset85 {
    margin-left: 85%;
  }
  .col.m-tail85 {
    margin-right: 85%;
  }
  .col.m90 {
    width: 90%;
  }
  .col.m-offset90 {
    margin-left: 90%;
  }
  .col.m-tail90 {
    margin-right: 90%;
  }
  .col.m95 {
    width: 95%;
  }
  .col.m-offset95 {
    margin-left: 95%;
  }
  .col.m-tail95 {
    margin-right: 95%;
  }
  .col.m100 {
    width: 100%;
  }
}

@media screen and (min-width: 1100px) {
  .col.l5 {
    width: 5%;
  }
  .col.l-offset5 {
    margin-left: 5%;
  }
  .col.l-tail5 {
    margin-right: 5%;
  }
  .col.l10 {
    width: 10%;
  }
  .col.l-offset10 {
    margin-left: 10%;
  }
  .col.l-tail10 {
    margin-right: 10%;
  }
  .col.l15 {
    width: 15%;
  }
  .col.l-offset15 {
    margin-left: 15%;
  }
  .col.l-tail15 {
    margin-right: 15%;
  }
  .col.l20 {
    width: 20%;
  }
  .col.l-offset20 {
    margin-left: 20%;
  }
  .col.l-tail20 {
    margin-right: 20%;
  }
  .col.l25 {
    width: 25%;
  }
  .col.l-offset25 {
    margin-left: 25%;
  }
  .col.l-tail25 {
    margin-right: 25%;
  }
  .col.l30 {
    width: 30%;
  }
  .col.l-offset30 {
    margin-left: 30%;
  }
  .col.l-tail30 {
    margin-right: 30%;
  }
  .col.l33 {
    width: 33.3333%;
  }
  .col.l-offset33 {
    margin-left: 33.3333%;
  }
  .col.l-tail33 {
    margin-right: 33.3333%;
  }
  .col.l35 {
    width: 35%;
  }
  .col.l-offset35 {
    margin-left: 35%;
  }
  .col.l-tail35 {
    margin-right: 35%;
  }
  .col.l40 {
    width: 40%;
  }
  .col.l-offset40 {
    margin-left: 40%;
  }
  .col.l-tail40 {
    margin-right: 40%;
  }
  .col.l45 {
    width: 45%;
  }
  .col.l-offset45 {
    margin-left: 45%;
  }
  .col.l-tail45 {
    margin-right: 45%;
  }
  .col.l50 {
    width: 50%;
  }
  .col.l-offset50 {
    margin-left: 50%;
  }
  .col.l-tail50 {
    margin-right: 50%;
  }
  .col.l55 {
    width: 55%;
  }
  .col.l-offset55 {
    margin-left: 55%;
  }
  .col.l-tail55 {
    margin-right: 55%;
  }
  .col.l60 {
    width: 60%;
  }
  .col.l-offset60 {
    margin-left: 60%;
  }
  .col.l-tail60 {
    margin-right: 60%;
  }
  .col.l65 {
    width: 65%;
  }
  .col.l-offset65 {
    margin-left: 65%;
  }
  .col.l-tail65 {
    margin-right: 65%;
  }
  .col.l66 {
    width: 66.6666%;
  }
  .col.l-offset66 {
    margin-left: 66.6666%;
  }
  .col.l-tail66 {
    margin-right: 66.6666%;
  }
  .col.l70 {
    width: 70%;
  }
  .col.l-offset70 {
    margin-left: 70%;
  }
  .col.l-tail70 {
    margin-right: 70%;
  }
  .col.l75 {
    width: 75%;
  }
  .col.l-offset75 {
    margin-left: 75%;
  }
  .col.l-tail75 {
    margin-right: 75%;
  }
  .col.l80 {
    width: 80%;
  }
  .col.l-offset80 {
    margin-left: 80%;
  }
  .col.l-tail80 {
    margin-right: 80%;
  }
  .col.l85 {
    width: 85%;
  }
  .col.l-offset85 {
    margin-left: 85%;
  }
  .col.l-tail85 {
    margin-right: 85%;
  }
  .col.l90 {
    width: 90%;
  }
  .col.l-offset90 {
    margin-left: 90%;
  }
  .col.l-tail90 {
    margin-right: 90%;
  }
  .col.l95 {
    width: 95%;
  }
  .col.l-offset95 {
    margin-left: 95%;
  }
  .col.l-tail95 {
    margin-right: 95%;
  }
  .col.l100 {
    width: 100%;
  }
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea,
select {
  display: block;
  width: 100%;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-transition: border 200ms;
  transition: border 200ms;
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

input[type="email"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="url"]:hover,
input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
textarea:hover,
select:hover {
  border: 1px solid #999;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #999;
}

.label {
  display: block;
  position: relative;
  width: 100%;
  padding: 15px 0;
  box-sizing: border-box;
}

.label_title {
  display: block;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"] {
  height: 3em;
  line-height: 3em;
  padding: 0 7.5px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 3em;
  line-height: 3em;
  padding: 0 7.5px;
  background: #fff;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjUxMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNOTguOSwxODQuN2wxLjgsMi4xbDEzNiwxNTYuNWM0LjYsNS4zLDExLjUsOC42LDE5LjIsOC42YzcuNywwLDE0LjYtMy40LDE5LjItOC42TDQxMSwxODcuMWwyLjMtMi42ICBjMS43LTIuNSwyLjctNS41LDIuNy04LjdjMC04LjctNy40LTE1LjgtMTYuNi0xNS44djBIMTEyLjZ2MGMtOS4yLDAtMTYuNiw3LjEtMTYuNiwxNS44Qzk2LDE3OS4xLDk3LjEsMTgyLjIsOTguOSwxODQuN3oiLz48L3N2Zz4=");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: right 7.5px center;
}

textarea {
  resize: vertical;
  padding: .7em;
  line-height: 1.4em;
  min-height: 15.4em;
}

.label.-checkbox,
.label.-radio {
  padding-left: 1.5em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label.-checkbox input[type="checkbox"],
.label.-checkbox input[type="radio"],
.label.-radio input[type="checkbox"],
.label.-radio input[type="radio"] {
  position: absolute;
  top: 50%;
  left: 0;
  margin: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.label.-checkbox input[type="checkbox"] {
  border-radius: 10%;
}

.label.-radio input[type="radio"] {
  border-radius: 50%;
}

.radiogroup .label {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.radiogroup.-horizontal .label {
  padding: 7.5px 15px;
  text-align: center;
}

.radiogroup.-horizontal input[type="radio"] {
  position: relative;
}

.switchbutton {
  display: inline-block;
  position: relative;
  font-size: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switchbutton .label {
  display: inline-block;
  position: relative;
  width: 120px;
  padding: 0;
  line-height: 30px;
  font-size: 1rem;
}

.switchbutton .label.-on {
  padding-right: 40px;
  text-align: right;
}

.switchbutton .label.-off {
  padding-left: 40px;
  text-align: left;
}

.switchbutton .label_title {
  display: block;
}

.switchbutton input[type="radio"],
.switchbutton input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}

.switchbutton_base {
  position: absolute;
  top: 0;
  left: 50%;
  height: 30px;
  width: 60px;
  background: #ddd;
  -webkit-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  transform: translateX(-30px);
  pointer-events: none;
  border-radius: 15px;
}

.switchbutton_marker {
  display: inline-block;
  position: absolute;
  left: 50%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #c4c4c4;
  background: #fff;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  pointer-events: none;
}

.switchbutton.-radio .switchbutton_base {
  background: #96d992;
}

.switchbutton.-radio input.on:checked ~ .switchbutton_marker {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.switchbutton.-radio input.off:checked ~ .switchbutton_marker {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.switchbutton.-checkbox .switchbutton_base::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 60px;
  background: #96d992;
  border-radius: 15px;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
  -webkit-transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
}

.switchbutton.-checkbox input:not(:checked) ~ .switchbutton_marker {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.switchbutton.-checkbox input:checked ~ .switchbutton_marker {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.switchbutton.-checkbox input:checked ~ .switchbutton_base::after {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  background: #f5f5f5;
  border: 1px solid #ccc;
  color: #242628;
  border-radius: 4px;
  line-height: 2em;
  font-size: 1rem;
  margin-bottom: 15px;
  padding: 0 0.5em;
  text-align: center;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background: gainsboro;
}

.btn[type="submit"] {
  background: #96d992;
  border-color: #84d27f;
}

.btn[type="submit"]:hover {
  background: #8bd587;
}

.btn[type="cancel"] {
  background: #d2494d;
  color: #fff;
  border-color: #cd3539;
}

.btn[type="cancel"]:hover {
  background: #cf3d41;
}

.btnGroup {
  font-size: 0;
}

.btnGroup .btn {
  border-radius: 0;
  padding-left: .5em;
  padding-right: .5em;
}

.btnGroup .btn:not(:first-child) {
  border-left: 0;
}

.btnGroup .btn:first-child {
  border-radius: 4px 0 0 4px;
}

.btnGroup .btn:last-child {
  border-radius: 0 4px 4px 0;
}

/*# sourceMappingURL=rig.css.map */